@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IEnumerable<CoreDemo.Models.DB.Reg> 
<h2>Emp Details</h2>

<b><a asp-controller="Curd" asp-action="Create" asp-route-IsType="Create" asp-route-id="0" >Create New Employee</a></b>
    <br />

    <table style="width:100%;" class="table-bordered table-hover">
        @foreach (var i in Model)
    {
            <tr>
                <td>
                    @i.Name
                </td>
                <td>
                    @i.Email
                </td>
                <td>
                    @i.Mob
                </td>
                <td>
                    @i.Address
                </td>
                <td>
                    <a class="btn btn-default" asp-controller="Curd" asp-action="Create" asp-route-IsType="Edit" asp-route-id="@i.Id">Edit</a>
                    <a class="btn btn-danger"  asp-controller="Curd" asp-action="Delete" asp-route-id="@i.Id" , new { onclick="return confirm('Are you sure you wish to delete this record?');" }>Delete</a>
                </td>

            </tr>
    }
    </table>
